@model IEnumerable<Web.ViewModels.Borrows.BorrowVM>

<div class="container checkout-cart mt-5">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-center mb-5">My Borrows</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-12 mb-4">
                        <div class="card shadow">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <a asp-controller="BookPage" asp-action="Index" asp-route-slug="@item.Slug">
                                        <img src="/uploads/@item.picUrl" class="img-fluid" alt="Card Back">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title mt-4">@item.BookTitle</h5>
                                        <p class="card-text">
                                            <small class="text-muted"> Borrowed Date @item.BorrowedDate</small>
                                        </p>
                                          <p class="card-text">
                                            <small class="text-muted"> You must return on on @item.DueDate</small>
                                        </p>
                                        <p class="dead-line" >
                                            @Math.Abs((item.BorrowedDate.Day - item.DueDate.Day)).ToString() Days Left
                                        </p>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>


        </div>
    </div>
</div>
